@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/themes";
@import "../../styles/media";

.about {
  color: var(--mainColor);
  background-color: var(--backgroundColor);
  padding: 30px;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  width: 100hvw;
  scroll-behavior: smooth;
  a {
    padding: 5px;
    text-decoration: none;
    color: var(--mainColor);
  }

  .container {
    margin: 0;
    padding: 0 5%;

    .header {
      position: relative;
      @include spaceBetween;
      margin-bottom: 100px;
      .header_content {
        h1 {
          font-size: 32px;
          margin: 20px 0 0 0;
        }
        h2.quote {
          font-size: 20px;
          padding: 0;
          margin: 0;
        }
        ul.header_content {
          list-style: none;
          padding: 20px 0 0 0;
          li.header_menu {
            padding-top: 5px;
            &:before {
              content: "✴︎";
            }
            &:hover {
              font-weight: bolder;
              padding: 8px 0;
            }
          }
        }
      }
      img {
        height: auto;
        width: 80px;
        margin: 5%;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        @include sp {
          width: 100px;
        }
        @include tab {
          width: 220px;
        }
        @include pc {
          width: 250px;
        }
      }
    }
    .content {
      padding-top: 50px;
      h2 {
        margin: 0;
        padding: 0;
      }
      .quote {
        font-size: 18px;
        position: relative;
        .name {
          font-size: 15px;
          padding: 0;
          margin: 0;
          right: 0;
          position: absolute;
        }
      }
      .description {
        width: auto;
        font-size: 15px;
        padding: 3% 0 0 0;
        margin: 0;
      }
      li {
        margin: 10px;
        padding: 0;
        list-style: circle;
        p {
          padding: 0;
          margin: 0;
        }
        .date {
          font-style: italic;
          font-size: 13px;
        }
        .log {
          font-size: 15px;
        }
      }
      .skills {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .skill {
          border: 1px solid var(--mainColor);
          border-radius: 50px;
          padding: 0 5px;
          margin: 5px;
        }
      }
    }
    @include sp {
      padding: 0 10%;
    }
    @include tab {
      padding: 0 15%;
    }
    @include pc {
      padding: 0 20%;
    }
    .about_top {
      margin: 30% 0;
      text-align: center;
      font-size: 10px;
      // background-color: red;
      &:hover {
        font-weight: bold;
      }
      @include pc {
        margin: 15% 0;
      }
    }
  }
}
