/* general */
span.quote {
    font-size: 18px;
}
span.header {
    font-size: 18px;
}
h1{
    font-size: 32px;
    padding: 0;
    margin: 0;
}
/* About.js */
.about_wrapper{
    /* background: navy; */
    padding: 30px;
    margin: 0;
    height: 100dvh;
    box-sizing: border-box;
}
.about_container {
    /* background-color: lemonchiffon; */
    padding: 0;
    margin: 0;
}
    .about_content{
        /* background-color: coral; */
        padding: 0;
        margin: 0;
        padding: 0 30px;
    }
    .about_header{
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
    }
    .about_header h1 {
        padding: 10% 10px 10px 10px;
    }
    .about_header img{
        margin: 0;
        width: 200px;
        height: auto;
    }
    p.about_description, ul.about_description, div.about_description{
        /* background-color: orange; */
        width: 350px;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
        .about_description li{
            margin: 10px;
            padding: 0px ;
            list-style:circle;
        }
        .about_description p{
            padding: 0;
            margin: 0;
            font-style: italic;
        }
        .about_border_container {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }
        .about_border {
            border: 1px solid var(--color-main);
            border-radius: 50px;
            padding: 0 5px;
            margin: 5px;
        }
    .about_contactMe {
        padding: 0;
        /* background-color: orange; */
    }
    .about_contactMe span {
        position: relative;
    }
    .about_contactMe span p{
        margin: 0;
        font-style: italic;
        font-size: 13px;
        position: absolute;
        display: flex;
        right: 0;
    }
    .about_contactMe button{
        font-size: 25px;
        padding: 10px 0;
    }

@media (min-width:800px){
    .about_content{
        width: 600px;
        padding-left: 10%;
    }
    .about_header h1{
        font-size: 64px;
    }
    .about_header img{
        width: 200px;
        height: auto;
        margin: 5%;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    p.about_description, ul.about_description, div.about_description{
        width: 400px;
    }
 }
    
@media (min-width:1000px){
    div.about_content{
        padding-left: 15%;
    }
    .about_header img{
        width: 250px;
        height: auto;
        
    }
    p.about_description, ul.about_description, div.about_description{
        width: 550px;
    }
}

    
@media (min-width:1200px){
    .about_header img{
        width: 350px;
        height: auto;
        
    }
}

    