@import "../../styles/functions";
@import "../../styles/media";
@import "../../styles/themes";

.work {
  padding: 30px;
  margin: 0;
  height: 100dvh;
  box-sizing: border-box;
  .container {
    .content {
      padding: 0;
      margin: 0;
      padding: 0 30px;

      @include pc {
        flex-direction: row;
        display: flex;
      }
      .header {
        font-size: 13px;
        padding: 20px 0;
        @include pc {
          width: 30%;
          margin: 5% 0 5% 10%;
        }
        h1 {
          font-size: 32px;
        }
        .description {
          width: 100%;
          @include tab {
            width: 350px;
          }
          .quote {
            font-size: 18px;
          }
        }
      }
      .list {
        padding: 0;
        margin: 0;
        @include pc {
          flex-direction: row;
          margin: 5%;
        }
        li {
          list-style: none;
          padding-bottom: 10px;
          @include pc {
            margin: 5% 10%;
          }
          //   a {
          //   }
          p {
            padding: 0;
            margin: 0;
            font-size: 12px;
            @include tab {
              font-size: 15px;
            }
            @include pc {
              font-size: 18px;
            }
          }
          button {
            font-size: 32px;
            @include tab {
              font-size: 48px;
            }
            @include pc {
              font-size: 72px;
            }
          }
        }
      }
    }
  }
  .work_img {
    img {
      padding: 30px;
      margin: 0 30%;
      width: 25%;
      height: 25%;
    }
    @include pc {
      padding: 30px;
      position: fixed;
      width: 700px;
      height: 700px;
      bottom: -330px;
      left: -100px;
    }
  }
}
