@import "../../styles/functions";

.mask_top {
  @include mask_top;
  top: 0;
  left: 0;
  &::after {
    @include mask_top;
    content: "";
    bottom: 0;
    left: 0;
  }
}
.mask_left {
  @include mask_left;
  top: 0;
  left: 0;
  &::after {
    @include mask_left;
    content: "";
    bottom: 0;
    right: 0;
  }
}
